.card {
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
    // background-color: $black;
    // box-shadow: 3px 3px $black, inset 3px 3px $bodyBackgroundColor;
    transition-duration: 0.2s;
    .image, .cover {
        backface-visibility: hidden;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        border-radius: 10px;
        box-shadow: inset 0 0 0 3px $black;
    }
    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotateY(180deg);
    }
    .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $roseFlamant;
        transform: rotateY(0deg);
        display: flex;
        justify-content: center;
        align-items: center;
        .pointDinterrogation {
            width: 50%;
            height: 50%;
        }
    }
}
.open .image {
    transition-duration: 0.6s;
    transform: rotateY(0deg);
}
.open .cover {
    transition-duration: 0.6s;
    transform: rotateY(-180deg);
}
.reflection {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 0px;
    background: rgba($color: white, $alpha: 0.3);
    box-shadow: 0 0 30px 10px rgba($color: white, $alpha: 0.3);
    transition-duration: 0s;
    transform: translate(10px, -10px) rotateZ(45deg);
}
.card:hover .reflection {
    transition-duration: 0.4s;
    transform: translate(-150px, 150px) rotateZ(45deg);
}
.card:hover {
    scale: 1.05;
}

.match {
    animation: match .7s ease-in-out;
}

@keyframes match {
    from {
        box-shadow: 0 0 0 0 $vertCitron;
    }
    50% {
        box-shadow: 0 0 5px 5px $vertCitron;
    }
    to {
        box-shadow: 0 0 0 0 $vertCitron;
    }
}

@media (max-width: 560px) {
    .card {
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 480px) {
    .card {
        width: 90px;
        height: 90px;
    }
}
@media (max-width: 440px) {
    .card {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 400px) {
    .card {
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 360px) {
    .card {
        width: 60px;
        height: 60px;
    }
}