@import 'cards';

#mainGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 30px;
    border: solid 3px $black;
    border-radius: 30px;
    background-color: $bleuTurquoise;
    box-shadow: 0 0 0 0 $black;
    transition-duration: .2s;
}
.home:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 0 $black;
}

#gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    p:first-child {
        font-size: 40px;
        margin-bottom: 10px;
    }
}

#memoryBoard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1040px;
    margin-bottom: 50px;
}

#nextLevel {
    display: none;
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.divVictoryMessage {
    position: sticky;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 200px;
    width: 85vw;
    max-width: 400px;
    border: solid 3px $black;
    border-radius: $borderRadius;
    background-color: $bleuVif;
    transform-origin: center;
    transition-duration: 0.4s;

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    h2 {
        font-size: 20px;
    }
    button {
        cursor: pointer;
        width: 120px;
        height: 55px;
        border: solid 3px $black;
        border-radius: $borderRadius;
        background: $vertCitron;
        box-shadow: 0 0 0 0 $black, 0 0 0 0 $black;
        transition-duration: .2s;
        margin-left: 15px;
    }
    button:hover {
        transform: translate(-4px, -4px); // ? pas la même valeur que pour le bouton "home" dans "game" (décalage de 4px au lieu de 3px)
        box-shadow: 4px 4px 0 0 $black;
    }

    .buttonHome {
        width: 120px;
        height: 55px;
        border: solid 3px $black;
        border-radius: $borderRadius;
        background: $bleuTurquoise;
        box-shadow: 0 0 0 0 $black, 0 0 0 0 $black;
        transition-duration: .2s;
        margin-right: 15px;
    }
}

//trop d'animation

// .divVictoryMessage:hover {
//     transform: translate(-50%, -50%) scale(1.05);
// }
