@import 'cards';

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    border: solid 3px $black;
    border-radius: 30px;
    background-color: #00AEEF;
    box-shadow: 0 0 0 0 $black;
    transition-duration: .2s;
}
.home:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 0 $black;
}

#memoryBoard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nextLevel {
    display: none;

    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 227, 176);
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
