.card {
    width: 100px;
    height: 100px;
    background-color: #999;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    line-height: 100px;
    color: #fff;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nextLevel {
    // display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
