h1 {
  font-family:  "PPPangramSansRounded-Bold", "impact";
  font-size: 5vw;
  text-align: center;
}
h2 {
  font-family:  "PPPangramSansRounded-Bold", "impact";
  font-size: 2.5vw;
  text-align: center;
  margin: 10px;
}

.container {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boutonNiveau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $vertCitron;
  width: 200px;
  height: 75px;
  border: solid 3px $black;
  border-radius: $borderRadius;
  box-shadow: 0 0 0 0 $black;
  transition-duration: .2s;
  p:first-child {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
.boutonNiveau:hover {
  transform: translate(-4px, -4px); // ? pas la même valeur que pour le bouton "home" dans "game" (décalage de 4px au lieu de 3px)
  box-shadow: 4px 4px 0 0 $black;
}

#levelButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}
