$black: #101010;
$bodyBackgroundColor: #F8F8F8; //? ou #F5F5F5
$borderRadius: 10px; // ? ou 15px

// ! Palette de couleurs vives
$bleuVif : #00AEEF;
$vertCitron : #A4C639;
$roseBonbon : #FF80CE;
$orangeEclatant : #FF6F00;
$violetVif : #9C27B0;
$jauneLumineux : #FFEB3B;
$rougeVif : #FF1744;
$vertPomme : #8BC34A;
$bleuTurquoise : #00BCD4;
$roseFlamant : #FF4081;

// ! variable pour les sizes
$sizeXS: "";
$sizeS: "";
$sizeM: "";
$sizeL: "";
$sizeXL: "";
$sizeXXL: "";

// ! Typo qui m'ont semblé pertinente
@font-face {
  font-family: 'PPPangramSansRounded-Bold';
  src: url(/Assets/fonts/PANGRAM/PPPangramSansRounded-Bold.otf);
}
@font-face {
  font-family: 'PPPangramSansRounded-Semibold';
  src: url(/Assets/fonts/PANGRAM/PPPangramSansRounded-Semibold.otf);
}
@font-face {
  font-family: 'PPPangramSansRounded-ExtraboldItalic';
  src: url(/Assets/fonts/PANGRAM/PPPangramSansRounded-ExtraboldItalic.otf);
}