@font-face {
  font-family: "PPPangramSansRounded-Bold";
  src: url(/Assets/fonts/PANGRAM/PPPangramSansRounded-Bold.otf);
}
@font-face {
  font-family: "PPPangramSansRounded-Semibold";
  src: url(/Assets/fonts/PANGRAM/PPPangramSansRounded-Semibold.otf);
}
@font-face {
  font-family: "PPPangramSansRounded-ExtraboldItalic";
  src: url(/Assets/fonts/PANGRAM/PPPangramSansRounded-ExtraboldItalic.otf);
}
.card {
  cursor: pointer;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;
  transition-duration: 0.2s;
}
.card .image, .card .cover {
  backface-visibility: hidden;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #101010;
}
.card .image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotateY(180deg);
}
.card .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FF4081;
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .cover .pointDinterrogation {
  width: 50%;
  height: 50%;
}

.open .image {
  transition-duration: 0.6s;
  transform: rotateY(0deg);
}

.open .cover {
  transition-duration: 0.6s;
  transform: rotateY(-180deg);
}

.reflection {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 0px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.3);
  transition-duration: 0s;
  transform: translate(10px, -10px) rotateZ(45deg);
}

.card:hover .reflection {
  transition-duration: 0.4s;
  transform: translate(-150px, 150px) rotateZ(45deg);
}

.card:hover {
  scale: 1.05;
}

.match {
  animation: match 0.7s ease-in-out;
}

@keyframes match {
  from {
    box-shadow: 0 0 0 0 #A4C639;
  }
  50% {
    box-shadow: 0 0 5px 5px #A4C639;
  }
  to {
    box-shadow: 0 0 0 0 #A4C639;
  }
}
@media (max-width: 560px) {
  .card {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 480px) {
  .card {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 440px) {
  .card {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 400px) {
  .card {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 360px) {
  .card {
    width: 60px;
    height: 60px;
  }
}
#mainGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 30px;
  border: solid 3px #101010;
  border-radius: 30px;
  background-color: #00BCD4;
  box-shadow: 0 0 0 0 #101010;
  transition-duration: 0.2s;
}

.home:hover {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0 0 #101010;
}

#gameInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
#gameInfo p:first-child {
  font-size: 40px;
  margin-bottom: 10px;
}

#memoryBoard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1040px;
  margin-bottom: 50px;
}

#nextLevel {
  position: absolute;
  display: none;
  justify-content: center;
  top: -20px;
  left: 0;
  width: 100%;
  height: calc(100% + 20px);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.divVictoryMessage {
  position: sticky;
  top: 50vh;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 45vw;
  max-height: 200px;
  width: 80vw;
  max-width: 400px;
  border: solid 3px #101010;
  border-radius: 10px;
  background-color: #00AEEF;
  transform-origin: center;
}
.divVictoryMessage div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
}
.divVictoryMessage div button {
  cursor: pointer;
  width: 120px;
  height: 55px;
  border: solid 3px #101010;
  border-radius: 10px;
  background: #A4C639;
  box-shadow: 0 0 0 0 #101010, 0 0 0 0 #101010;
  transition-duration: 0.2s;
}
.divVictoryMessage div button:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 0 #101010;
}
.divVictoryMessage div .buttonHome {
  background: #00BCD4;
}
.divVictoryMessage h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  margin: 0;
  font-size: 20px;
}

#loader {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
}
#loader div {
  overflow: hidden;
  border-bottom: solid 0.4vw #101010;
  transform-origin: left;
  animation: loaderBorder 1.5s ease;
}
#loader p {
  padding: 0.7vw;
  font-size: 7vw;
  animation: loaderText 2s ease;
}

.fonduOut {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

@keyframes loaderBorder {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes loaderText {
  from {
    transform: translateY(110%);
  }
  60% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
h1 {
  font-family: "PPPangramSansRounded-Bold", "impact";
  font-size: 5vw;
  text-align: center;
}

h2 {
  font-family: "PPPangramSansRounded-Bold", "impact";
  font-size: 2.5vw;
  text-align: center;
  margin: 20px;
}

.container {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boutonNiveau {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #A4C639;
  width: 200px;
  height: 75px;
  border: solid 3px #101010;
  border-radius: 10px;
  box-shadow: 0 0 0 0 #101010;
  transition-duration: 0.2s;
}
.boutonNiveau p:first-child {
  font-size: 30px;
}

.boutonNiveau:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 0 #101010;
}

#levelButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
  justify-content: center;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (max-width: 458px) {
  #levelButtons {
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 1000px) {
  .boutonNiveau {
    width: 133.3333333333px;
    height: 50px;
  }
  .boutonNiveau p:first-child {
    font-size: 20px;
  }
  .boutonNiveau p:last-child {
    font-size: 12px;
  }
}
h1 {
  font-family: "PPPangramSansRounded-Bold", "impact";
  font-size: 5vw;
  text-align: center;
}

h2 {
  font-family: "PPPangramSansRounded-Bold", "impact";
  font-size: 2.5vw;
  text-align: center;
  margin: 20px;
}

* {
  perspective: 1500px;
  color: #101010;
}

p, button {
  font-family: "PPPangramSansRounded-Bold", "impact";
  font-size: 20px;
}

a {
  font-family: "PPPangramSansRounded-ExtraboldItalic", "impact";
  font-size: 20px;
}

a, li, ul {
  text-decoration: none;
}

body {
  background-color: #F8F8F8;
}

main {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: calc(100vh - 20px);
}

.legalMention {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "PPPangramSansRounded-Semibold", "impact";
  font-size: 14px;
}
.legalMention a {
  font-family: "PPPangramSansRounded-Semibold", "impact";
  font-size: 14px;
  padding-bottom: 1px;
  border-bottom: solid 1px #101010;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .legalMention {
    font-family: "PPPangramSansRounded-Semibold", "impact";
    font-size: 12px;
  }
  .legalMention a {
    font-family: "PPPangramSansRounded-Semibold", "impact";
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .legalMention {
    font-family: "PPPangramSansRounded-Semibold", "impact";
    font-size: 10px;
  }
  .legalMention a {
    font-family: "PPPangramSansRounded-Semibold", "impact";
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .legalMention {
    font-family: "PPPangramSansRounded-Semibold", "impact";
    font-size: 8px;
  }
  .legalMention a {
    font-family: "PPPangramSansRounded-Semibold", "impact";
    font-size: 8px;
  }
}/*# sourceMappingURL=style.css.map */